.metronome {
    padding: 30px;
    max-width: 375px;
    margin: 0 auto;
    .bpm-slider input {
        width: 100%;
        margin: 10px;
    }
    button {
        background: #c94d46;
        padding: 10px;
        border: 1px solid #832420;
        border-radius: 2px;
        color: white;
        width: 100px;
        font-size: 18px;
        margin: 0 auto;
    }
    .bpm input {
        width: 25%;
        margin: 0 auto;
    }
}